#search-panel-title {
  color: var(--primary-text);
  font-weight: bold !important;
  font-family: var(--mono-font);
  font-size: 2rem;
  margin: 0.4rem;
  margin-bottom: 0.0rem;
}

#search-panel-container {
  height: 400px;
  width: fit-content;
  text-align: center;
  margin: 0.5rem;
  margin-top: 2rem;
  background-color: var(--secondary-text);
  border: solid 0.4rem var(--primary-text);
  border-radius: 50px;
}

#search-panel-table {
  width: 400px;
  padding: 1rem;
  word-break: break-word;
  table-layout: fixed;

  tbody {
    tr:hover {
      background-color: var(--primary-text);
      cursor: pointer;
    }
  }
}

