.start-title{
  font-weight: bold !important;
  font-family: var(--mono-font);
  color: var(--primary-text);
  text-shadow:
    1px 0 0 var(--secondary-text),
    0 1px 0 var(--secondary-text),
    -1px 0 0 var(--secondary-text),
    0 -1px 0 var(--secondary-text);
    font-style: normal;
  font-size: 5rem;
}
