.CircularProgressbar-text {
  fill: #E079B8 !important;
  font-size: 2rem !important;
}

.CircularProgressbar {
  background: whitesmoke;
  border-radius: 100%;
  margin-bottom: 0.5rem;
  max-width: 11rem;
  min-width: 11rem;
}
