.table-tte {
  height: 80px;
  table-layout: fixed;
  border: double 0.4rem transparent;
  border-radius: 30px;
  text-align: center;
  background-image: linear-gradient(whitesmoke, whitesmoke),
                    linear-gradient(to left, #EC85DA, #FDB6BF);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

table td, table th {
  border: 1px solid gray;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
