@font-face {
  font-family: 'Azaret Mono';
  src: url('./assets/fonts/Azaret_Mono/AzeretMono-VariableFont_wght.ttf');
}

:root {
  --primary-text: #875094;
  --secondary-text: #FFB9F8;
  --primary-bg: #8BD0CA;
  --secondary-bg: #214658;
  --mono-font: "Azaret Mono"
}

body {
  position: relative;
  background-color: var(--primary-bg);
  height: 100vh;
  font-family: var(--mono-font);
  justify-content: center;
  align-items: center;
  /* background-image:url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='200px' width='1500px'> <text x='20' y='150' fill='gray' font-size='200'>ollie /w kinect</text></svg>"); */
}

button{
  font-size: 2rem;
  padding: 1rem 4rem;
  border-radius: 2rem;
  font-family: var(--mono-font);
  color: var(--secondary-text);
  background-color: var(--primary-text);
  border: none;
  transition: all ease-in 0.1s;
  cursor: pointer;
  appearance: none;
  opacity: 0.9;

  a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
  }
}
button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.btn-arrow {
  font-size: 2rem !important;
  font-weight: bold !important;
  padding: 0.5rem 1rem!important;
  border-radius: 3rem !important;
}
