@font-face {
  font-family: 'Azaret Mono';
  src: url('./assets/fonts/Azaret_Mono/AzeretMono-VariableFont_wght.ttf');
}

:root {
  --primary-text: #875094;
  --secondary-text: #FFB9F8;
  --primary-bg: #8BD0CA;
  --secondary-bg: #214658;
  --mono-font: "Azaret Mono"
}

body {
  position: relative;
  background-color: var(--primary-bg);
  height: 100vh;
  font-family: var(--mono-font);
  justify-content: center;
  align-items: center;
  /* background-image:url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='200px' width='1500px'> <text x='20' y='150' fill='gray' font-size='200'>ollie /w kinect</text></svg>"); */
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
